.khan__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  margin-top: 105px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
